.Landing {
  margin: 2rem 0 0.5rem;
  font-size: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.Landing br {
  margin-bottom: 1rem;
}

.links img {
  height: 1.5rem;
  margin-right: 0.75rem;
}

code {
  font-family: monospace;
  font-weight: bold;
}
