.Game {
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding-top: 2rem;
  position: relative;
}

.Game > button {
  padding: 1rem;
  position: relative;
  z-index: 100;
  background: none;
  border: 2px solid var(--text-color);
  border-radius: 0.25rem;
  color: var(--text-color);
  font-size: 1.25rem;
  text-transform: capitalize;
}

.letter {
  font-size: 8rem;
  position: relative;
  z-index: 100;
}

.score {
  position: fixed;
  top: var(--header-height);
  margin: 0 auto;
  line-height: calc(100vh - var(--header-height));
  font-size: 30rem;
  color: #00000044;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}
