.Game {
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding-top: 2rem;
  position: relative;
}

.Game > button {
  padding: 1rem;
}

.letter {
  font-size: 8rem;
}

.score {
  position: fixed;
  top: var(--header-height);
  margin: 0 auto;
  line-height: calc(100vh - var(--header-height));
  font-size: 30rem;
  color: #00000022;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
